.filter-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 111;
  background-color: white;
}
.filter-tabs {
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}
.filter-tab {
  color: #000;
  margin-right: 30px;
  cursor: pointer;
  padding: 7px 3px;
  border-bottom: 3px solid transparent;
}
.filter-tab-active {
  color: black;
  font-weight: 500;
  border-bottom: 3px solid #ff275d;
}

.list-wrapper {
  margin: 0 !important;
  justify-content: space-between;
}

.cards-list {
  z-index: 10;
}
.single-card {
  max-width: 500px !important;
  margin-bottom: 30px;
}
.single-card .card {
  box-shadow: -1px 0px 16px -4px #9b9999;
}

.list-wrapper col {
  margin-bottom: 20px;
}
.cards-loading {
  position: relative;
  width: 100%;
  height: 70px;
}
.no-more-content {
  width: 100%;
  padding-bottom: 30px;
  font-size: 20px;
  text-align: center;
}
