.filter-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: sticky;
  top: -1px;
  z-index: 111;
  background-color: white;
}
.filter-tabs {
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}
.filter-tab {
  color: #000;
  margin-right: 30px;
  cursor: pointer;
  padding: 7px 3px;
  border-bottom: 3px solid transparent;
}
.filter-tab-active {
  color: black;
  font-weight: 500;
  border-bottom: 3px solid #ff275d;
}
.filter-options {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 100%;
}
.filter-options img {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.user-menu {
  position: absolute;
  right: 10px;
  top: 40px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: white;
  box-shadow: -1px 0px 16px -4px #9b9999;
  display: flex;
  align-items: center;
}
.user-menu span {
  width: 100%;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  padding-left: 10px;
}
.user-menu span:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}
.filter-sub-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}
.search-filter-options {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}
.search-filter-options img {
  width: 25px;
  height: 25px;
}
.search-container {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.search-dropdown {
  background-color: #eaeaea;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.search-dropdown img {
  margin-right: 10px;
}
.filter-modal {
  position: absolute;
  right: 40px;
  top: 40px;
  height: 350px;
  width: 400px;
  border-radius: 5px;
  background-color: white;
  box-shadow: -1px 0px 16px -4px #9b9999;
  z-index: 30;
}
.filter-modal-head {
  padding: 10px 0 10px 10px;
  font-weight: 600;
  border-bottom: 1px solid;
  margin: 0;
}
.filter-modal-options {
  width: 100%;
  padding: 0 20px;
}
.fitler-modal-label {
  padding: 15px 0 18px;
  font-size: 16px;
  margin: 0;
  font-weight: 600;
  color: #8f98a1;
}
.filter-type-option {
  font-size: 18px;
  line-height: 0.5;
  margin: 5px 0;
}
.filter-type-options {
  margin-bottom: 20px;
}
.filter-type-option input {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.filter-cardholder-options select {
  background-color: #f6f1f1;
  border-color: #f6f1f1;
  font-weight: 600;
  cursor: pointer;
}
.filter-cardholder-options select:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.filter-actions {
  margin: 20px 0 !important;
}
.filter-actions .col {
  padding: 0 10px;
}
.list-wrapper {
  margin: 0 !important;
}

.cards-list {
  z-index: 10;
}
.single-card {
  margin-bottom: 30px;
  max-width: 700px !important;
  min-width: 50%;
}
.single-card .card {
  box-shadow: -1px 0px 16px -4px #9b9999;
}

.list-wrapper col {
  margin-bottom: 20px;
}
.cards-loading {
  position: relative;
  width: 100%;
  height: 70px;
}
.no-more-content {
  width: 100%;
  padding-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

@media only screen and (max-width: 1600px) {
  .list-wrapper {
    justify-content: space-between !important;
  }
}

@media only screen and (max-width: 1000px) {
  .list-wrapper {
    justify-content: center !important;
  }
}
