.loading-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(25, 25, 25, 0.01);
}
.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flex-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.floating-button {
  width: 150px;
  height: 30px;
  border-radius: 4px;
  padding: 3px 6px;
  border: 1p solid rgb(158, 158, 158);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.floating-button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.floating-button span {
  font-size: 17px;
  font-weight: 500;
}

.home-wrapper .filter-menu {
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.16);
  margin-top: -1px;
}

@media only screen and (max-width: 700px) {
  .floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #ccdcff;
    z-index: 111;
    background-color: white;
  }
  .no-floating {
    position: flex !important;
  }
}
